[Unit]
Description=Wazuh Active Response Unblock Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=$UNBLOCK_SH