[Unit]
Description=Wazuh Active Response Unblock Timer

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=wazuh-unblock.service

[Install]
WantedBy=timers.target