[Unit]
Description=Wazuh Active Response Block Domain Timer

[Timer]
OnCalendar=*-*-* *:*:30
Persistent=true
Unit=wazuh-blockdomain.service

[Install]
WantedBy=timers.target