[Unit]
Description=Wazuh Active Response Refresh Timer

[Timer]
OnCalendar=*:*:0/30
Persistent=true
Unit=wazuh-refresh.service

[Install]
WantedBy=timers.target
